body{
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #0f111a;
    color: #fff;
    margin: 0;
    padding: 0px;
}

header{
    background-color: #1f2230;
    padding: 20px 0;
    margin-bottom: 20px;
}

nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin: 0 15px;
}
nav a {
    color: #00ffff;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: rgb(74, 74, 220);
    text-decoration: underline;
}

main {
    font-size: 18px;
}